.animated-button {
  --animated-button__current-color-value: var(
    --animated-button__current-color,
    unset
  );
  --animeted-button__tagret-color-value: var(
    --animated-button__tagret-color,
    currentColor
  );
  --animated-button__target-filter-value: var(
    --animated-button__target-filter,
    unset
  );
  --animated-button__animation-time-value: var(
    --animated-button__animation-time,
    0.5s
  );

  &:hover {
    background-color: var(--animeted-button__tagret-color-value);
    animation-name: animated-button__color-change;
    animation-duration: var(--animated-button__animation-time-value);
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;

    .animated-button__filtred-element {
      filter: var(--animated-button__target-filter-value);
      animation-name: animated-button__icon-color-change;
      animation-duration: var(--animated-button__animation-time-value);
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
      animation-timing-function: ease-in;
    }
  }
}

@keyframes animated-button__color-change {
  from {
    background-color: var(--animated-button__current-color-value);
  }
  to {
    background-color: var(--animeted-button__tagret-color-value);
  }
}

@keyframes animated-button__icon-color-change {
  from {
    filter: none;
    opacity: 100%;
  }
  10% {
    opacity: 0%;
    filter: var(--animated-button__target-filter-value);
  }
  to {
    opacity: 100%;
  }
}
