@import 'mixins.scss';

.brand-section {
  @include geometry-reset;
  width: 100%;

  --animated-button__current-color: white;
  --animated-button__tagret-color: #ff3e79;
  --animated-button__target-filter: brightness(0) saturate(100%) invert(97%)
    sepia(0%) saturate(7487%) hue-rotate(77deg) brightness(110%) contrast(100%);

  &__header {
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    width: 100%;
  }

  &__text-header {
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      padding-left: 24px;
      width: 768px;
    }

    @media (min-width: 1440px) {
      padding-left: 32px;
      width: 1440px;
    }
  }

  &__element {
    &--no-mobile {
      @media (max-width: 767px) {
        display: none;
      }
    }

    &--only-mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__slider--scroll {
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    margin-left: 16px;
    margin-right: auto;

    @media (min-width: 768px) {
      margin-left: auto;
      width: 730px;
    }

    @media (min-width: 1440px) {
      width: 1066px;
    }
  }

  &__collapsible-content {
    height: 82px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      height: 170px;
      margin-bottom: 24px;
    }
  }
}
