.collapsible-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .collapsible-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.collapsible-content__text-content {
  margin-bottom: 16px;
}

.collapsible-content__content {
  width: 100%;
  overflow: hidden;
}

.collapsible-content--opened .collapsible-content__content {
  height: fit-content;
}

.collapsible-content__opened-title {
  display: none;
}

.collapsible-content--opened .collapsible-content__opened-title {
  display: unset;
}

.collapsible-content--opened .collapsible-content__closed-title {
  display: none;
}

.collapsible-content--opened .collapsible-content__icon {
  background-image: url('../img/collapse.svg');
}

.collapsible-content__more-button {
  margin-bottom: 16px;
}
