.collapsible-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__text-content {
    margin-bottom: 16px;
  }

  &__content {
    width: 100%;
    overflow: hidden;
  }

  &__title {
    --collapsible-content__opened-title-value: var(
      --collapsible-content__opened-title,
      'Скрыть'
    );
    --collapsible-content__closed-title-value: var(
      --collapsible-content__closed-title,
      'Показать все'
    );

    &::after {
      content: var(--collapsible-content__closed-title-value);
    }
  }

  &__icon {
    background-image: url('../img/expand.svg');
  }

  &__more-button {
    margin-bottom: 16px;
  }

  &--opened {
    & .collapsible-content__content {
      height: fit-content;
    }

    & .collapsible-content__title::after {
      content: var(--collapsible-content__opened-title-value);
    }

    & .collapsible-content__icon {
      background-image: url('../img/collapse.svg');
    }
  }
}
