.collapsible-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__text-content {
    margin-bottom: 16px;
  }

  &__content {
    width: 100%;
    overflow: hidden;
  }

  &__opened-title {
    display: none;
  }

  &__icon {
    background-image: url('../img/expand.svg');
  }

  &__more-button {
    margin-bottom: 16px;
  }

  &--opened {
    & .collapsible-content__content {
      height: fit-content;
    }

    & .collapsible-content__opened-title {
      display: unset;
    }

    & .collapsible-content__closed-title {
      display: none;
    }

    & .collapsible-content__icon {
      background-image: url('../img/collapse.svg');
    }
  }
}
