$main-color: #ff3e79;
$hightlight-color: #b8ffec;
$main-text-color: #1b1c21;
$second-text-color: #7e7e82;
$main-border-color: #eaeaea;
$main-background-color: #f8f8f8;
$slider__item-color: #dddddd;
$slider__item-color--current: #b5b6bc;
