.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
    padding-left: 17px;
    padding-right: 25px;
  }

  @media (min-width: 1440px) {
    padding-left: 35px;
  }

  &__photo {
    display: block;

    @media (min-width: 768px) {
      width: 360px;
      height: 208px;
      margin-left: 48px;
    }

    @media (min-width: 1440px) {
      width: 531.35px;
      height: 307px;
    }
  }
}
