@import 'mixins';

.drop-right-menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;

  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);

  transition: left 0.5s ease-out;

  @media (min-width: 1440px) {
    position: static;
  }

  &__button {
    --animated-button__current-color: #ff3e79;
    --animated-button__tagret-color: white;
    --animated-button__target-filter: invert(46%) sepia(35%) saturate(7462%)
      hue-rotate(319deg) brightness(103%) contrast(106%);
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 24px;
    padding-right: 29px;
    padding-top: 18px;
    margin-bottom: 50px;
  }

  &__links-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding-left: 24px;
  }

  &__footer {
    width: 100%;
    padding-left: 24px;
    padding-bottom: 32px;
  }

  &__additional_buttons {
    @include list-reset;
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
  }

  &__additional_button {
    @include list-reset;
  }

  &__email-title {
    @include link-reset;

    display: block;
    width: fit-content;
    color: #1b1c21;
    font-family: 'TT Lakes';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-bottom: 12px;
  }

  &__nav {
    margin-bottom: auto;
  }

  &__phone-title {
    @include link-reset;

    display: block;
    color: #1b1c21;
    width: fit-content;
    font-family: 'TT Lakes';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
    margin-bottom: 40px;
  }

  &__close-button {
    margin-right: 17px;
  }

  &__link-item {
    @include list-reset;
    color: #1b1c21;
    font-family: 'TT Lakes';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    &:hover {
      color: #7e7e82;
    }

    &--selected {
      color: #7e7e82;

      &::before {
        content: '';
        display: block;
        height: 40px;
        width: 4px;
        background: url('../img/highlight.svg');
        position: absolute;
        transform: translate(-24px, -7px);
      }
    }
  }

  &__link {
    @include link-reset;
  }

  &__logo-wrapper {
    margin-right: auto;
  }

  &__element-to-blur {
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 0;
      pointer-events: none;

      transition: all 0.5s ease-in-out;
    }

    &--blurred {
      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.9605;
        background: linear-gradient(
          270deg,
          #f8f8f8 16.84%,
          rgba(248, 248, 248, 0) 100%
        );
        transition: opacity 0.5s ease-out;
      }
    }
  }

  &--closed {
    @media (max-width: 1439px) {
      box-shadow: none;
      left: -306px;
    }
  }
}
