@import 'mixins.scss';

.lang-switcher {
  @include list-reset;
  --lang-switcher__animation-time: 0.25s;
  display: flex;
  gap: 7px;

  &__lang-item {
    @include list-reset;
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: $main-text-color;

    transition: color 0.5s ease-out;

    & button {
      @include button-reset;
    }

    &--selected {
      color: $second-text-color;

      &:has(~ .lang-switcher__lang-item:hover) {
        color: $main-text-color;
      }
    }

    &:not(.lang-switcher__lang-item--selected):hover {
      color: $second-text-color;
    }
  }
}
