@import 'mixins.scss';

.page-header {
  height: 88px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 24px;
  font-family: 'TT Lakes';

  @media (min-width: 1440px) {
    background-color: transparent;
  }

  &__aside-nav {
    @media (min-width: 1440px) {
      margin-left: auto;
    }

    &--no-desktop {
      @media (min-width: 1440px) {
        display: none;
      }
    }

    &--with-divider {
      position: relative;

      &::before {
        position: absolute;
        top: calc(50% - 16px);
        left: -22px;
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background: url('../img/divider.svg') no-repeat;

        @media (min-width: 1440px) {
          display: none;
        }
      }
    }
  }

  &__additional-aside {
    margin-right: 42px;
  }

  &__logo-wrapper {
    position: relative;
    margin-right: auto;

    @media (min-width: 1440px) {
      display: none;
    }

    &::before {
      @media (min-width: 768px) {
        position: absolute;
        top: calc(50% - 16px);
        left: -23px;
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background: url('../img/divider.svg') no-repeat;
      }
    }
  }

  &__nav-button {
    @include button-reset;
    margin-right: 17px;

    @media (min-width: 768px) {
      margin-right: 43px;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }
}
