@import 'css-functions.scss';

@mixin setELementMaketWidth($width) {
  --price-table__maket-element-width-px-value: $width * 2;
}

.price-table {
  --price-table__border-radius: 6px;
  --price-table__maket-width-px-value: 1536;

  width: 100%;

  padding: {
    left: 5px;
    right: 5px;
  }
  display: block;
  @media (max-width: 767px) {
  }

  &__thead {
    @media (min-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  &__thead-row {
    display: flex !important;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }

  &__body {
    @media (min-width: 768px) {
      background: #fff;
      display: block !important;
      border-radius: 6px;
      width: auto !important;
      padding: {
        left: 16px;
        right: 16px;
      }
    }
  }

  &__element {
    display: block !important;
    @media (min-width: 768px) {
      width: calc(
        var(--price-table__maket-element-width-px-value) /
          var(--price-table__maket-width-px-value) * 100vw
      );

      &--type-- {
        &name {
          --price-table__maket-element-width-px-value: 744;
        }

        &price {
          --price-table__maket-element-width-px-value: 192;
          // --price-table__maket-element-width-px: 96;
          // width: 96px;
          // width: calc(96px / var(--price-table__body_size) * 100vw);
        }

        &time {
          // --price-table__maket-element-width-px: 101;

          // width: 101px;
        }

        &button {
          // --price-table__maket-element-width-px: 119;
          // width: 119px;
        }
      }
    }
  }

  &__th {
    display: block;
    color: #7e7e82;
    font-family: 'TT Lakes';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    text-align: left;
  }

  &__row {
    @media (max-width: 767px) {
    }

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__data {
    @media (max-width: 767px) {
    }
    &::before {
      @media (max-width: 767px) {
      }
    }
  }

  // @media (min-width: 768px) {
  //   & &__body &__row:first-child &__data:first-child {
  //     border-top-left-radius: var(--price-table__border-radius);
  //   }

  //   & &__body &__row:first-child &__data:last-child {
  //     border-top-right-radius: var(--price-table__border-radius);
  //   }

  //   & &__body &__row:last-child &__data:first-child {
  //     border-bottom-left-radius: var(--price-table__border-radius);
  //   }

  //   & &__body &__row:last-child &__data:last-child {
  //     border-bottom-right-radius: var(--price-table__border-radius);
  //   }
  // }
}
