.slider__scroll {
  display: flex;
  gap: 12px;
  content: '';
  height: 12px;
  width: fit-content !important; /*Нужно для перебивки стиля из swipper*/
}
.slider__item {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
}

.slider__item--current {
  background-color: #b5b6bc;
}
