@import url("../fonts/TTLakes.css");

.body{
    background-color: #F8F8F8;
}

@media (min-width: 1120px) {
    .body__header{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.page-header{
    height: 88px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 24px;
    font-family: 'TT Lakes';
}

@media (min-width: 1120px) {
    .page-header{
        background-color: transparent;
    }

}

.page-header__aside-nav{
}

@media (min-width: 1120px){
    .page-header__aside-nav{
        margin-left: auto;
    }
}

@media (min-width: 1120px) {
    .page-header__aside-nav--no-desktop{
        display: none;
    }
}

.page-header__additional-aside{
    margin-right: 42px;
}

.page-header__logo-wrapper {
    position: relative;
    margin-right: auto;
}

@media (min-width: 768px) {
    .page-header__logo-wrapper::before {
        position: absolute;
        top: calc(50% - 16px);
        left: -23px;
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        background: url("../img/divider.svg") no-repeat;
    }
}

@media (min-width: 1120px) {
    .page-header__logo-wrapper--no-desktop{
        display: none;
    }
}

.page-header__nav-button{
    margin-right: 17px;
}


@media (min-width: 1120px) {
    .page-header__nav-button--no-desktop{
        display: none;
    }
}
.aside-nav-list__item{
    margin-right: 17px;
}

.aside-nav-list__item:last-of-type{
    margin-right: 0;
}

@media (min-width: 768px) {
    .page-header__nav-button{
        margin-right: 43px;
    }
}

.aside-nav-list{
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    .aside-nav-list--no-mobile-visible{
        display: none;
    }
}

.page-header__aside-nav--with-divider{
    position: relative;
}

.page-header__aside-nav--with-divider::before {
    position: absolute;
    top: calc(50% - 16px);
    left: -22px;
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background: url("../img/divider.svg") no-repeat;
}

@media (min-width: 1120px) {
    .page-header__aside-nav--with-divider::before{
        display: none;
    }
}

.aside-nav-list__nav-button {
    margin-right: 17px;
}

.logo {
    width: 96.55px;
    height: 50.81px;
}


.section {
    font-family: 'TT Lakes';
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section__header {
    margin-bottom: 24px;
}

.content__photo{
    display: block;
}

@media (min-width: 768px) {
    .content__photo{
        width: 360px;
        height: 208px;
        margin-left: 48PX;

    }
}

@media (min-width: 1120px){
    .content__photo{
        width: 531.35px;
        height: 307px;
    }
}

.header {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

.header__title{
    padding-left: 16px;
    position: relative;
}

.header__title::before{
    content: "";
    display: block;
    height: 40px;
    width: 4px;
    background: url("../img/highlight.svg");
    position: absolute;
    top: 0px;
    left: 0px;
}



.section{
    width: 100%;
}

.section__nav {
    margin-bottom: 24px;
}

.section__list{

}

.section__text-content{
    margin-bottom: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .content{
        flex-direction: row;
        padding-left: 17px;
        padding-right: 25px;
    }
}

@media (min-width: 1120px) {
    .content{
        padding-left: 35px;
    }
}

.collapsible-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .collapsible-content{
        padding-left: 0;
        padding-right: 0;
    }
}

.collapsible-content__text-content{
    margin-bottom: 16px;
}

.collapsible-content__more-button{
    margin-bottom: 16px;
}

.text-content{
    display: flex;
    flex-direction: column;
}

.text-content--wrapped{
    height: 90px;
    overflow: hidden;
}

.text-content__paragraph{
    margin-bottom: 21px;
}

@media (min-width: 768px) {
    .text-content--wrapped{
        height: 160px;
    }
}

.nav-list {
    display: flex;
    overflow-y: hidden;
    width: 100%;
    height: 40px;
}

@media (min-width: 1120px) {
    .nav-list{
        height: fit-content;
        flex-wrap: wrap;
    }
}

.nav-list::-webkit-scrollbar{
    display: none;
}
.nav-list__item {
    display: block;
    width: fit-content;
    height: fit-content;
}
.nav-list__button {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border-radius: 6px;
    color: #7E7E82;
    height: 40px;
    width: max-content;
    margin-left: 16px;
}
.nav-list__button--selected {
    border: #B8FFEC solid;
    background-color: white;
}

.paragraph{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.more-button {
    display: flex;
    align-items: center;
}
.more-button__icon {
    margin-right: 8px;
    background: url("../img/expand.svg") no-repeat 0 0;
    background-size: 100% 100%;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.more-button__title {
    font-weight: 500px;
}

.menu_button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_button__title{
    margin-right: 8px;
    font-weight: 500;
}

@media (max-width: 1119px){
    .menu_button__title{
        display: none;
    }
}

.menu_button__icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menu_button__icon--type--checkstatus{
    background-image: url("../img/checkstatus.svg");
}

.menu_button__icon--type--repair{
    background-image: url("../img/repair.svg");
}